@import 'reset.scss';

$bg-color: #f5f5f5;
$placeholder-color: #bbb;
$font-family: Open Sans;
$font-size: 15px;

body {
	background-color: $bg-color;
	font: $font-size $font-family;
	font-size: .9em;
}

h4 {
	font-weight: 400;
}

::-webkit-input-placeholder {
  color: $placeholder-color;
}
::-moz-placeholder {
  color: $placeholder-color;
}
:-ms-input-placeholder {
  color: $placeholder-color;
}
