body
{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.page-container
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: transform 600ms ease;
}

.page
{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	padding-top: 3em;
	box-sizing: border-box;
}

.sidebar-wave
{
	position: absolute;
	top: 0;
	z-index: -1;
}

.logotag
{
	position: absolute;
	left: 10%;
	right: 10%;
	bottom: 10%;
	top: 1em;
}

.logotag-logos
{
	float: right;
	height: 100%;
	width: 45%;
	text-align: center;
}

.logotag-logos:after
{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.logotag-tagline
{
	display: table;
	float: left;
	width: 55%;
	height: 100%;
	color: #fff;
	font-size: 1.75em;
	text-shadow: 0 2px 3px #000;
}

.logotag-tagline>div
{
	display: table-cell;
	vertical-align: middle;
}

.logotag-tagline h3, .logotag-tagline h5
{
	margin: 0 0 0.3em;
	font-weight: 100;
}

.logotag-logos-main
{
	vertical-align: middle;
	display: inline-block;
	height: 50%;
}

.logotag-contacts
{
	padding: .2em .6em;
	background-color: rgba(255,240,240,.15);
	border-radius: 10px;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.4);
	margin-top: .3em;
	display: inline-block;
}

.logotag-contacts img
{
	display: inline-block;
	height: 23px;
	margin: 0 .3em;
}

.sidebar-contacts
{
	height: 2em;
	padding: 1em .8em;
	position: absolute;
	bottom: 0.8em;
	left: 0.8em;
	background-color: #D32276;
	z-index: 2;
	border-radius: 4em;
	box-shadow: 0 1px 5px rgba(35, 4, 19, .7);
	display: none;
}

.sidebar-contacts img
{
	display: inline-block;
	height: 2em;
	margin: 0 .6em;
}

.icon-middle
{
	height: 4.5em;
}

#icon-scroll
{
	position: absolute;
	bottom: 11.5%;
	left: 50%;
	margin-left: -1em;
	width: 2em;
}

#main-wave
{
	position: absolute;
	top: 0;
	z-index: -1;
}

.sidebar-nav
{
	list-style: none;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 4.2em;
	width: 100%;
	padding: 0;
	z-index: 5;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.sidebar-nav li
{
	line-height: 3em;
}

.sidebar-nav li > a
{
	text-decoration: none;
	color: #db4275;
	font-size: 1.3em;
	white-space: nowrap;
	transition: 300ms color ease;
	padding: 0.1em 0;
}

.sidebar-nav li > a:after
{
	content: '';
	width: 100%;
	height: 3px;
	display: block;
	margin-top: -.65em;
	background: #db4275;
	transform: translateY(0.5em);
	opacity: 0;
	transition: 150ms all ease;
}

.sidebar-nav li.active > a:after
{
	transform: translateY(0);
	opacity: 1;
}

.sidebar-path
{
	position: absolute;
}

.sidebar-icon
{
	width: 4em;
	height: 4em;
	position: fixed;
	bottom: 0.8em;
	right: 0.8em;
	background: url(../images/icons/menu.svg) center center no-repeat #D32276;
	background-size: 60%;
	z-index: 2;
	border-radius: 100%;
	box-shadow: 0 1px 5px rgba(35, 4, 19, .7);
	display: none;
}

.sidebar-gooey
{
	filter: url('#gooey');
	position: relative;
	margin-top: 2em;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.sidebar-gooey-line
{
	height: 98%;
	width: 3px;
	background: rgba(255,255,255,.9);
	position: absolute;
	left: 50%;
	top: 1%;
	margin-left: -2px;
	z-index: -1;
}

/*.sidebar-gooey-blob:first-child {margin-top: 0}*/

.sidebar-gooey-blob
{
	width: 2em;
	height: 2em;
	background: #fff;
	border-radius: 100%;
	transition: 400ms margin-bottom ease;
}

.sidebar-gooey-blob:before
{
	content: '';
	width: 1em;
	height: 1em;
	background-color: #eee;
	border-radius: 100%;
	top: 0.5em;
	left: 0.5em;
	position: relative;
	display: block;
	box-shadow: 0 1px 2px rgba(0,0,0,.2) inset;
}

.sidebar-gooey-subblob
{
	width: 1.2em;
	height: 1.3em;
	border-radius: 100%;
	display: none;
	margin: -.8em 0 -.5em 0.1em;
	padding: .3em;
	transition: 150ms background-color ease, 200ms all ease;
	/*border: 0.2em solid #fff;*/
	box-shadow: 0 0 2px rgba(0,0,0,.2) inset;
	background-color: #fff;
	transform: translateY(.1em);
}

.sidebar-gooey-subblob.opened
{
	display: block;
}

.sidebar-gooey-subblob:before
{
	content: '';
	width: 1em;
	height: 1em;
	top: 0.1em;
	left: 0.1em;
	background-color: #f3f3f3;
	border-radius: 100%;
	position: relative;
	display: block;
	box-shadow: 0 1px 2px rgba(0,0,0,.2) inset;
}

.sidebar-gooey-light
{
	width: 1em;
	height: 1em;
	background-color: #e83169;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0,0,0,.3) inset;
	position: absolute;
	top: 0;
	left: 50%;
	margin: .4em -.6em;
	border: .1em solid #fff;
	transition: transform 400ms linear;
}

#infographic-prev
{
	margin: 0 auto;
	max-width: 60%;
	display: block;
	max-height: 75vh;
}

.team-container
{
	display: flex;
	flex-flow: row wrap;
	/*justify-content: space-between;*/
	/*margin: 1em 4em 0 1.5em;*/
	margin: 1em 3.5em 0 1em;
}

.team-block
{
	width: 23%;
	background-color: #eee;
	box-shadow: 0 2px 4px rgba(0,0,0,.6);
	box-sizing: border-box;
	margin: 0 1% 2em;
	position: relative;
}

.team-block-info
{
	text-align: left;
	padding: 0.5em;
}

.team-block-info h3
{
	font-size: 1.5em;
	font-weight: 400;
	margin: 0;
}

.team-block-info p
{
	margin: 0.5em 0;
}

.team-block-pic
{
	width: 100%;
}

.team-block-facebook
{
	background: url(../images/icons/facebook.svg) no-repeat center rgba(0,0,0,.5);
	background-size: 25%;
	position: absolute;
	top: 0;
	right: 0;
	width: 3em;
	height: 3em;
	opacity: 0;
	transition: 250ms all ease;
	transform: translate(0.5em, -0.5em) scale(1.1);
}

.team-block:hover .team-block-facebook
{
	opacity: 1;
	transform: none;
}

.page h1
{
	margin: .3em .5em 0;
	font-size: 3em;
	font-weight: 100;
}

.page h1 img
{
	height: 1em;
}

.page#tetrix2016 h1, .page#tetrix2017 h1
{
	line-height: 0;
}

.subpage-details
{
	background: url(../images/icons/details.svg) no-repeat center, linear-gradient(to bottom, rgba(0,0,0,0) -1%,rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
	background: url(../images/icons/details.svg) no-repeat center, -webkit-linear-gradient(top, rgba(0,0,0,0) -1%,rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
	background: url(../images/icons/details.svg) no-repeat center, -moz-linear-gradient(top, rgba(0,0,0,0) -1%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
	height: 2em;
	left: 0;
	right: 0;
	top: 5.5em;
	display: block;
	position: absolute;
	z-index: 2;
	margin: .5em;
}

.subpage
{
	position: relative;
	/*min-height: 100vh;*/
	box-sizing: border-box;
}

.subpage#tetrix2016-info
{
	margin: 1em 3.5em 1em 1.5em;
}

.subpage#tetrix2016-gallery
{
	height: 100vh;
	display: flex;
	flex-direction: row;
	padding-top: 3em;
}

.subpage#tetrix2016-partners
{
	height: 100%;
	padding-top: 2em;
	margin: 0 -.5em 1em;
}

.partner-block
{
	margin: 1.75em;
	cursor: pointer;
	position: relative;
	display: inline-block;
}

.partner-block img
{
	float: left;
	position: relative;
	margin-top: 0.5em;
	transition: 0ms z-index linear 1s;
}

.partner-info
{
	height: 150px;
	overflow: hidden;
	position: absolute;
	padding: 0.3em;
	width: 200%;
	right: -100%;
	min-width: 20vw;
	transition: 190ms box-shadow ease;
	z-index: 2;
}

.partners-tip
{
	height: 2em;
	font-size: 1.4em;
	line-height: 2em;
	display: block;
	border-radius: 4px;
	margin-left: 50%;
	padding: 0 0.5em;
	opacity: 0;
	transform: perspective(300px) rotateY(30deg);
	transform-origin: left center;
	transition: 200ms all ease;
}

.partners-tip:after
{
	content: '';
	display: block;
	box-shadow: 0 2px 2px rgba(0,0,0,.3);
	background-color: #f1f1f1;
	width: 100%;
	height: 100%;
	padding: 0 0.5em;
	border-radius: 4px;
	margin: -2em -0.5em;
	position: relative;
	z-index: -2;
	transition: 400ms all ease;
}

.partners-tip:before
{
	content: '';
	width: 0;
	height: 0;
	display: block;
	float: left;
	border-style: solid;
	border-width: .5em .6em .5em 0;
	margin: 0.3em 0 0 -1em;
	border-color: transparent #f1f1f1 transparent transparent;
}

.partner-block:hover .partners-tip
{
	opacity: 1;
	transform: perspective(300px) rotateY(0);
	transition: 150ms opacity ease, 300ms transform ease;
}

.partner-block:active img
{
	z-index: 3;
	transition: 0ms z-index linear 1s;
}

.partner-block:active .partner-info
{
	box-shadow: 0 2px 2px rgba(0,0,0,.3);
	transition: 200ms box-shadow ease 100ms;
}

.partner-block:active .partners-tip:after
{
	transform: scale(5, 10);
	box-shadow: 0 -10px 0 #000;
}

#contact-container
{
	padding-top: 1em;
	background-color: #2f2f2f;
	color: #fff;
}

.page-contact
{
	padding-top: 2em;
	background: #2f2f2f;
	display: flex;
	flex-direction: row;
}

.page-contact > *
{
	flex-basis: 40%;
}

.page-contact-info
{
	display: flex;
	flex-direction: column;
}

.page-contact-map
{
	box-shadow: 6px -5px 6px -5px #000 inset;
	background: url(../images/bg/map.svg) no-repeat 30% 25% #2f2f2f;
	flex-grow: 2;
	background-size: 140%;
	overflow: hidden;
}

.page-contact-us
{
	background-color: #1c1c1c;
	padding: 1em;
	/*flex-grow: 2;*/
}

.page-contact-form
{
	background-color: #fff;
	flex-grow: 1;
	color: #000;
	box-sizing: border-box;
}

.page-contact-social
{
	text-align: center;
	padding: 1.3em 0;
	box-shadow: 0 3px 1px -2px #000;
	border-bottom: 1px solid #666;
}

.page-contact-social img
{
	display: inline-block;
	height: 23px;
	margin: 0 1em;
}

.page-contact h3
{
	margin: 0;
	font-size: 1.5em;
	font-weight: 400;
}

.page-contact-list
{
	list-style: none;
	padding-left: 0em;
	font-size: 1.2em;
	line-height: 2em;
	margin-bottom: 0;
}

.contact-list-item:before
{
	content: '';
	width: 1.2em;
	height: 1.2em;
	margin: 0.3em 0.4em 0 0;
	display: block;
	float: left;
	background: url(../images/icons/contacts-atlas.svg) no-repeat;
	background-size: auto 100%;
}

#contact-location:before
{
	background-position: 100% 0;
}

#contact-email:before
{
	background-position: 0 0;
}

#contact-phone:before
{
	background-position: 50% 0;
}

#contact-form
{
	margin: 0 2em 0 1.5em;
	height: 100%;
	flex-direction: column;
	display: flex;
	position: relative;
}

#contact-form input, #contact-form textarea
{
	border: none;
	font-size: 1.4em;
	display: block;
	flex: .5 1 auto;
	margin: .7em 0;
	padding: .3em;
	font-family: 'Roboto', sans-serif;
	background-color: #f0f0f0;
	box-sizing: border-box;
	transition: 300ms background-color ease;
	outline: none;
	width: 100%;
}

#contact-form input:focus, #contact-form textarea:focus
{
	background-color: #e4e4e4;
}

#contact-form input[type="submit"]
{
	display: none;
}

.label-submit
{
	display: block;
	position: absolute;
	bottom: 1em;
	right: 0;
	padding: .6em 1.2em;
	background-color: #db2475;
	/*background-color: #00BFA5;*/
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	text-shadow: 0 1px 2px #005141;
	transition: 200ms all ease;
}

.label-submit:hover
{
	background-color: #e55380;
	/*#01ac95;*/
}

.label-submit:active
{
	box-shadow: 0 4px 15px 0px rgba(0,0,0,.3);
}

/*.label-submit:before
{
	content: '';
	display: inline-block;
	left: 10px;
	right: 10px;
	height: 8px;
	position: absolute;
	top: -10px;
	background: url(../images/ui/connections.png) space;
}

.label-submit:after
{
	content: '';
	display: inline-block;
	left: 10px;
	right: 10px;
	height: 8px;
	position: absolute;
	bottom: -10px;
	background: url(../images/ui/connections.png) space 0 -8px;
}*/

#contact-form textarea
{
	resize: none;
	min-height: 200px;
	flex-grow: 8;
}

#gallery-all
{
	width: 25%;
	overflow: hidden;
	border-bottom: 0.6em solid transparent;
	border-top: 0.6em solid transparent;
	background-color: #111;
	box-shadow: -8px 0 15px -10px #000 inset;
}

#gallery-list
{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 0.2em;
}

#gallery-big
{
	width: 75%;
	background-color: #161616;
	position: relative;
}

#gallery-big-photo
{
	background-size: contain!important;
	position: absolute;
	top: 1.5em;
	left: 1.5em;
	bottom: 1.5em;
	right: 1.5em;
}

#gallery-big-video
{
	width: 100%;
	height: 100%;
	border: none;
}

#gallery-big-photo.hidden, #gallery-big-video.hidden
{
	visibility: hidden;
}

/*#gallery-big img
{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
	box-shadow: 0 3px 15px #000;
}*/

.gallery-pic
{
	width: 45%;
	box-sizing: border-box;
	margin: 0.5em 0 0.25em;
	cursor: pointer;
}

.gallery-pic img
{
	width: 100%;
}

#partners-logo
{
	margin: 3em 4.5em 0 2em;
	/*max-height: 4em;*/
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: 700ms max-height ease;
}

#partners-logo img
{
	margin: 0 2em 4em;
	height: 3.5em;
}

.tetrix2017-description
{
	padding: 1.5em 4.8em 1.5em 2.3em;
	color: #222;
	/*text-align: justify;*/
}

.tetrix2017-description>h3
{
	font-size: 1.8em;
	text-indent: 1.5em;
}

.tetrix2017-description>p
{
	font-size: 1.25em;
	text-indent: 2em;
}

.tetrix2017-description a
{
	color: #d52134;
}

.tetrix-slide
{
	overflow: hidden;
	margin-bottom: 4em;
}

.slide-description h3
{
	font-size: 1.8em;
	text-indent: 1.5em;
	text-align: center;
	margin-top: 0;
}

.slide-description p
{
	font-size: 1.25em;
	text-align: justify;
}

.slide-action-container
{
	width: 50%;
}

.slide-description
{
	width: 50%;
}

.tetrix-slide:nth-child(even) .slide-action-container, .tetrix-slide:nth-child(odd) .slide-description
{
	float: right;
}

.tetrix-slide:nth-child(odd) .slide-action-container, .tetrix-slide:nth-child(even) .slide-description
{
	float: left;
}

#terminal img
{
	width: 90%;
	margin-left: 5%;
}

#startup, #tetris
{
	position: relative;
}

#tetris-pic
{
	width: 44%;
	margin-left: 28%;
}

#tetris-line
{
	position: absolute;
	bottom: 0;
	left: 0;
}

#tetris-item
{
	position: absolute;
	top: 0;
	left: 29%;
	width: 13%;
}

#tetris-screen
{
	position: absolute;
	top: 10%;
    bottom: 51%;
    left: 36.5%;
    right: 41.5%;
    overflow: hidden;
}

#tetris-screen.breaked #tetris-line
{
	transform: translateY(34%);
}

#tetris-screen.breaked #tetris-item
{
	top: 90%!important;
}

#startup-bulb
{
	width: 36%;
	margin: 5% 0 0 32%;
}

#startup-light
{
	width: 51.5%;
	position: absolute;
	left: 24%;
	top: -5.5%;
	opacity: 0;
}

#vacancies
{
	position: relative;
	-webkit-perspective: 700px;
	perspective: 700px;
}

#vacancies-bag
{
	width: 50%;
	margin-left: 25%;
	transform-origin: center bottom;
}

#vacancies-bag-opened
{
	position: absolute;
	width: 50%;
	left: 25%;
	z-index: -1;
}

#brains
{
	position: relative;
}

#brains img
{
	width: 50%;
	margin-left: 25%;
}

#brains-maze
{
	position: absolute;
    top: 6%;
    left: 36%;
    width: 10.9%;
}

#brains-path
{
	fill: none;
	stroke: #a82760;
	stroke-miterlimit: 10;
	stroke-width: 3px;
}

#lecture-speaker
{
	width: 37%;
	margin: 5% 0 0 24%;
	transform: rotateZ(20deg);
	transition: 500ms all ease;
}

#lecture-sound
{
	width: 26%;
	margin-right: 10%;
	float: right;
	opacity: 0;
	transform: translate(-10%, 12%) scale(0.5);
	transform-origin: left center;
}

#terminal
{
	color: #4ad382;
	position: relative;
	opacity: 0;
	transform: translateY(2em) scale(0.9);
	transition: 300ms all ease;
}

#terminal.visible
{
	opacity: 1;
	transform: none;
}

#terminal-text
{
	z-index: 1;
	position: absolute;
	top: 10%;
	left: 6%;
	right: 6%;
	margin: 1em;
	bottom: 0;
	overflow: hidden;
}

#lecture.visible #lecture-speaker
{
	transform: none;
}

#tetrix2017 .reg-button
{
	background-color: #db4275;
	color: #fff;
	text-decoration: none;
	padding: 0.4em 0.6em;
	font-size: 1.7em;
	font-weight: 100;
	display: inline-block;
	margin: 0.5em 0 1em 1em;
	text-shadow: 0 2px 3px rgba(0,0,0,.5);
	box-shadow: 0 2px 4px rgba(0,0,0,.3);
	transition: 200ms all ease;
	text-indent: 0;
}

#tetrix2017 .reg-button:hover
{
	background-color: #e55380;
}

#tetrix2017 .reg-button:active
{
	box-shadow: 0 4px 15px 0px rgba(0,0,0,.3);
}

#creators
{
	position: absolute;
	bottom: 10%;
	right: 0;
	margin: 0 1em 1em 0;
}

#creators img
{
	height: 2.5em;
	margin-left: 1em;
	filter: url('#grayscale') url("#main-shadow");
}

#creators img:hover
{
	filter: url("#main-shadow");
}

@media only screen and (max-width: 1150px)
{
	.team-block
	{
		width: 31%;
	}

	.gallery-pic
	{
		width: 100%;
	}

	#gallery-list
	{
		padding: 1em 0 2.2em;
	}
}

@media only screen and (max-device-width: 480px), only screen and (max-device-height: 480px)
{

	.sidebar-wave
	{
		display: none;
	}

	.sidebar-icon, .sidebar-contacts
	{
		display: block;
	}

	.page
	{
		padding-top: 0;
	}

	#creators
	{
		bottom: auto;
		top: 1em;
	}

	.logotag-logos
	{
		width: 100%;
		height: auto;
		position: absolute;
		top: 3em;
		bottom: 5%;
		padding-bottom: 5em;
	}

	.logotag-logos:after
	{
		display: none;
	}

	.logotag-logos-main
	{
		width: 80%;
		margin-top: 5%;
		max-height: 75%;
		/*max-height: 45vh;*/
		height: auto;
	}

	.logotag-tagline
	{
		width: 100%;
		font-size: 1.6em;
		position: absolute;
		bottom: 5%;
		height: 3em;
	}

	.logotag-tagline>div
	{
		display: block;
		vertical-align: unset;
	}

	.logotag-contacts
	{
		display: none!important;
	}

	.sidebar-nav
	{
		background-color: #fff;
		height: 100%;
		flex-direction: column;
		visibility: hidden;
		opacity: 0;
		transition: 150ms all ease;
		transform: translateY(-10em) scale(0.9, 0);
	}

	.sidebar-nav.visible
	{
		opacity: 1;
		visibility: visible;
		transform: none;
	}

	.sidebar-nav li
	{
		line-height: normal;
	}

	.sidebar-nav li a
	{
		background: #fff;
		display: block;
		padding: 1em 2em;
	}

	.sidebar-nav li a:after
	{
		height: 3em;
		width: 0.3em;
		float: left;
		position: absolute;
		left: 0;
		margin-top: -2em;
		transform: translateX(-0.3em)
	}

	.sidebar-nav li.active a:after
	{
		transform: none;
	}

	#partners-logo img
	{
		margin: 0 1em 2em;
		height: 2.5em;
	}

	#gallery-all
	{
		overflow-x: hidden;
		overflow-y: auto;
	}

	.slide-action-container
	{
		width: 100%;
	}

	.slide-description
	{
		width: 100%;
	}

	.tetrix-slide:nth-child(even) .slide-action-container, .tetrix-slide:nth-child(odd) .slide-description, .tetrix-slide:nth-child(odd) .slide-action-container, .tetrix-slide:nth-child(even) .slide-description
	{
		float: none;
	}

}

@media only screen and (max-width: 900px)
{
	body {font-size: .85em;}

	.sidebar-wave
	{
		display: none;
	}

	.sidebar-icon, .sidebar-contacts
	{
		display: block;
	}

	.page
	{
		padding-top: 0;
	}

	#creators
	{
		bottom: auto;
		top: 1em;
	}

	.logotag-logos
	{
		width: 100%;
		height: auto;
		position: absolute;
		top: 3em;
		bottom: 5%;
		padding-bottom: 5em;
	}

	.logotag-logos:after
	{
		display: none;
	}

	.logotag-logos-main
	{
		width: 80%;
		margin-top: 5%;
		max-height: 75%;
		/*max-height: 45vh;*/
		height: auto;
	}

	.logotag-tagline
	{
		width: 100%;
		font-size: 1.6em;
		position: absolute;
		bottom: 5%;
		height: 3em;
		text-align: center;
	}

	.logotag-tagline>div
	{
		display: block;
		vertical-align: unset;
	}

	.logotag-contacts
	{
		display: none!important;
	}

	.sidebar-nav
	{
		background-color: #fff;
		height: 100%;
		flex-direction: column;
		visibility: hidden;
		opacity: 0;
		transition: 150ms all ease;
		transform: translate(10em, 10em) scale(0.9, 0.7);
		transform-origin: bottom center;
	}

	.sidebar-nav.visible
	{
		opacity: 1;
		visibility: visible;
		transform: none;
	}

	.sidebar-nav li
	{
		line-height: normal;
	}

	.sidebar-nav li a
	{
		background: #fff;
		display: block;
		padding: 1em 2em;
	}

	.sidebar-nav li a:after
	{
		height: 3em;
		width: 0.3em;
		float: left;
		position: absolute;
		left: 0;
		margin-top: -2em;
		transform: translateX(-0.3em)
	}

	.sidebar-nav li.active a:after
	{
		transform: none;
	}

	.page>h1
	{
		margin-left: .5em;
	}
	
	.tetrix2017-description
	{
		padding: 1.5em 3em 1.5em 1em;
	}

	    .subpage#tetrix2016-info
	{
		margin: 1em 2.5em 1em 1em;
	}

	.page-contact
	{
		flex-direction: column;
	}

	.page-contact-map
	{
		min-height: 24em;
		min-height: 60vh;
		background-size: 120%;
		background-position: 35% 45%;
		box-shadow: 0 0 6px 0px #000 inset;
	}

	#contact-form
	{
		margin: 0 1.5em 0 1em;
	}

/*	.logotag-logos-main
	{
		width: 60%;
		left: 15%;
		top: 10%;
	}*/
	
	.tetrix2017-description>h3
{
	font-size: 1.4em;
}

	.team-container
	{
		margin-right: 3.5em;
	}

	.team-block
	{
		width: 48%;
	}

	/*.team-block-pic
	{
		width: 250px;
	}*/
}

@media only screen and (max-width: 600px)
{
	body {font-size: .8em;}

	/*.team-block-pic
	{
		min-width: 100%;
	}*/

	.team-block
	{
		width: 100%;
	}

	.page-contact .page-contact-map
	{
		background-size: 150%;
		min-height: 18em;
		min-height: 50vh;
	}
}

@media only screen and (min-width: 900px)
{
	.page-contact
	{
		position: absolute;
		top: 8em;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

@media (orientation: portrait)
{
	.subpage#tetrix2016-gallery
	{
		flex-direction: column-reverse;
	}

	#gallery-list
	{
		height: 100%;
		flex-wrap: nowrap;
		padding: 2.3em 0 .9em;
		box-sizing: border-box;
		justify-content: unset;
	}

	#gallery-all
	{
		width: auto;
		height: 20%;
		border-top: none;
		border-bottom: none;
		border-left: 0.6em solid transparent;
		border-right: 0.6em solid transparent;
		box-shadow: 0 8px 15px -10px #000 inset;
		overflow-x: scroll;
	}

	.gallery-pic
	{
		width: auto;
		height: 100%;
		margin: 0 0.5em;
	}

	.gallery-pic img
	{
		width: auto;
		height: 100%;
	}

	#gallery-big
	{
		height: 80%;
		width: auto;
	}
	
	#infographic-prev
	{
		max-width: 94%;
	}

}